
<div class="modal-wrapper">
    <div class="modal-content">
        <div class="modal-head">
            <span class="close-button"><img src="https://cdn.shopify.com/s/files/1/0656/6576/1443/files/icon-cross.png?v=1717783075"></span>
        </div>
        <div class="modal-body">
            <div class="pro-content-wrapper">
                <div class="pro-top-content">
                    <div class="pro-media">
                        <img src="//muhammad-awais-test.myshopify.com/cdn/shop/files/smiling-woman-on-snowy-afternoon_925x_bdcaf0cb-c761-46c3-a529-bd1e7849dc43.jpg?v=1717509247&amp;width=533">
                    </div>
                    <div class="pro-info" data-variants=''>
                        <h4 class="pro-title">Orange Wide Leg</h4>
                        <div class="pro-price">980,00€</div>
                        <div class="pro-decstiption">
                            <p>This one-piece swimsuit is crafted from jersey featuring an allover micro Monogram motif in relief.</p>
                        </div>
                    </div>
                </div>
                <div class="varients-wrapper">
                    <div class="each-varient-holder">
                        <label class="label-style">Color</label>
                        <div class="varient-switch-row">
                            <div class="switch-holder">
                                <input type="radio" id="white" value="White" name="color" />
                                <label for="white" class="white">White</label>
                            </div>
                            <div class="switch-holder">
                                <input type="radio" id="black" value="black" name="color" />
                                <label for="black" class="black">Black</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="varients-wrapper">
                    <div class="each-varient-holder">
                        <label class="label-style">Size</label>
                        <div class="varient-select-row">
                            <div id="dropdown-wrapper" class="dropdown-wrapper" tabindex="1">
                                <span class="icon-arrow"><img src="https://cdn.shopify.com/s/files/1/0656/6576/1443/files/icon-arrow-down.png?v=1717794382"></span>
                                <span class="selected-size">Choose your size</span>
                                <ul class="dropdown-list">
                                    <li>Small</li>
                                    <li>Medium</li>
                                    <li>Large</li>
                                    <li>XLarge</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="add-to-cart-cta">
                <button class="btn">Add To Cart<img src="https://cdn.shopify.com/s/files/1/0656/6576/1443/files/Line_15.png?v=1717694667"></button>
            </div>
        </div>
    </div>
</div>