@media only screen and (max-width: 1299px){
    #custom-collection .card-head {
        height: 350px;
    }
}
@media only screen and (max-width: 991px){
    .for-desktop{
        display: none;
    }
    .for-mobile{
        display: block;
    }
    #banner .content-blk-mob {
        text-align: center;
        padding: 30px;
    }
    #banner .content-blk-mob .heading {
        color: #000;
        font-size: 42px;
    }
    #banner .content-blk-mob p {
        font-size: 18px;
        font-family: 'Jost';
        color: inherit;
        margin: 10px 0 0;
    }
    #banner .banner-mobile-bg-wrapper {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 280px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 30px;
    }
    #banner .banner-top-area {
        padding: 20px 0px 10px;
    }
    #banner .banner-top-bar-wrapper {
        justify-content: center;
    }
    #toggle {
        position: absolute;
        top: 30px;
        left:20px
    }
    #menu {
        top: 60px;
    }
    #menu p {
        font-size: 16px;
        font-family: Jost, sans-serif;
        color: inherit;
    }
    #menu .btn {
        background-color: #FFF544;
        color: #000;
    }
    #menu .btn img {
        filter:brightness(0);
    }
    #menu .btn:hover {
        color: #fff;
        box-shadow: inset 400px 0 0 0 #000;
    }
    #menu .btn:hover img {
        filter:brightness(1);
    }

    #custom-collection .title-area .heading {
        margin: 0;
    }
    #custom-collection .card-head {
        height: 280px;
    }
    #custom-collection .title-area {
        text-align: center;
    }
    #custom-collection .card-head {
        height: 240px;
    }    
    .header-cta {
        margin-top: 20px;
    }
    .header-custom-content {
        text-align: center;
        padding: 50px 0;
    }
}
@media only screen and (max-width: 767px){
    .btn {
        padding: 15px 30px;
    }
    .custom-col-3 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    #banner .content-blk-mob {
        text-align: center;
        padding: 30px 15px;
    }
    #banner .content-blk-mob .heading {
        color: #000;
        font-size: 30px;
    }
    #banner .content-blk-mob p {
        font-size: 16px;
        font-family: 'Jost';
        color: inherit;
        margin: 10px 0 0;
    }
    #banner .banner-mobile-bg-wrapper {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 265px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 30px;
    }
    #custom-collection .title-area .heading {
        margin: 0;
    }
    #custom-collection .card-head {
        height: 180px;
    }
    #custom-collection .popup-trigger {
        top: 35px;
        right: 30px;
    }
}